<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div>
    <a routerLink="/">Flea Market</a>
  </div>
  <nav *ngIf="!(user | async) else userMenu">
    <a mat-button routerLink="/register">REGISTER</a>
    <a mat-button routerLink="/login">LOGIN</a>
  </nav>
</mat-toolbar>
<div class="content">
  <ng-content></ng-content>
</div>

<ng-template #userMenu>
  <nav fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Hello, <strong>{{ (user | async)?.displayName }}</strong></h2>
    <button mat-icon-button  [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/products/new">Add new product</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </nav>
</ng-template>
